@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-pattern {
  background: radial-gradient(
      circle at bottom left,
      transparent 25%,
      #4f46e4 25.5%,
      #4f46e4 36%,
      transparent 37%,
      transparent 100%
    ),
    radial-gradient(
      circle at top right,
      transparent 34%,
      #4f46e4 34.5%,
      #4f46e4 45.5%,
      transparent 46%,
      transparent 100%
    );
  background-size: 3em 3em;
  background-color: #247c7c;
  opacity: 1;
}
